<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0920be8f58.js" crossorigin="anonymous"></script>
    <link href="main.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="mobile.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-brown justify-content-between" style="padding:0">
        <div class="container-fluid">
            <button class="navbar-toggler" data-target=".dual-nav" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link pl-0" href="home.html"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="personTables.html"><i class="fas fa-chair"></i> Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html"><i class="fas fa-address-card"></i> Profile</a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand mx-auto d-block text-center order-0 order-md-1 w-25" href="#"><img src="logo.png"></a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="nav navbar-nav ml-auto">
                    <li>
                        <form method='GET' class="m-0" action='{% url 'search' %}'><i class="fa fa-search" style="color: white;"></i>
                                <input type="text" name="q" data-toggle="popover" data-placement="bottom" data-content="Press enter to search" class="search" placeholder="Search for restaurants..." value="" style="" data-original-title="" title="" autofocus="autofocus">
                        </form>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about.html"><i class="fas fa-arrow-alt-circle-right"></i> About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="login.html"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container row restaurants py-5 my-5">
        <div class="container">
      <div class="row">
        <div class="col-md-6 img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"  alt="" class="img-rounded">
        </div>
        <div class="col-md-6 details">
          <blockquote>
            <h5>Jack Jason</h5>
            <small><cite title="Source Title">Block I, Rd No.4, House 801, Bashundara, Dhaka 1229.  <i class="icon-map-marker"></i></cite></small>
          </blockquote>
          <p>
            Jack.jason2000@gmail.com <br>
            Username <br>
            +880 1734567789 <br>
          </p>
            <p>This account is <i style="color:#1aab1f;">a Person</i> Account.</p>
            <a href="#">Update</a> | 
            <a href="#">Change Password</a>
        </div>
      </div>
    </div>
    </section>
    <!-- Footer -->
    <footer class="page-footer font-small pt-4 bg-brown color-white">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                    <!-- Content -->
                    <h5 class="text-uppercase">Footer Content</h5>
                    <p>Here you can use rows and columns to organize your footer content.</p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">
                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Link 1</a>
                        </li>
                        <li>
                            <a href="#!">Link 2</a>
                        </li>
                        <li>
                            <a href="#!">Link 3</a>
                        </li>
                        <li>
                            <a href="#!">Link 4</a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#" > Osman Hamashool</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script type="text/javascript" src="https://www.viralpatel.net/demo/jquery/jquery.shorten.1.0.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        {% block js %}
        {% endblock js %}
        $(".card-text").shorten({
            "showChars" : 300,
            "moreText"  : "Read More",
            "lessText"  : "See Less",
        });
    });
</script>
</body>
</html>